{
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "@antfu"
  ],
  "rules": {
    "no-console": "off",
    "no-useless-return": "off",
    "import/no-mutable-exports": "off",
    "/no-new": "off"
  }
}
