/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: iconfont;  /* Project id 3812857 */
  src:
    url("//at.alicdn.com/t/c/font_3812857_af4lticy3mj.woff2?t=1677510154540") format("woff2"),
    url("//at.alicdn.com/t/c/font_3812857_af4lticy3mj.woff?t=1677510154540") format("woff"),
    url("//at.alicdn.com/t/c/font_3812857_af4lticy3mj.ttf?t=1677510154540") format("truetype"),
    url("//at.alicdn.com/t/c/font_3812857_af4lticy3mj.svg?t=1677510154540#iconfont") format("svg");
}

.iconfont {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: iconfont !important;
  font-size: 16PX;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichudenglu::before {
  content: "\e61d";
}

.icon-gerenzhongxin::before {
  content: "\e62e";
}

.icon-jiantouyou::before {
  content: "\e62d";
}

.icon-shanchu::before {
  content: "\e68c";
}

.icon-ico-top::before {
  content: "\e615";
}

.icon-shop-cart-::before {
  content: "\e67c";
}

.icon-search::before {
  content: "\e62c";
}

.icon-arrow-down-filling::before {
  content: "\e688";
}
