@import "./reset";
@import "./font";
@import "./variables.css";

.marign-line-auto {
  margin: 0 auto;
}

// 版心
.type-area {
  width: 936PX;
  margin: 0 auto;
}

// scrollbar
/* stylelint-disable */
::-webkit-resizer,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar {
  width: 14PX;
  height: 14PX;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c5c5cb;
  background-clip: content-box;
  border: 5PX solid transparent;
  border-radius: 999rem;
}
